<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.his.mapper.OutpatientChargesRecordMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.his.bean.OutpatientChargesRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="medical_record_id" property="medical_record_id" jdbcType="INTEGER" />
    <result column="bill_record_id" property="bill_record_id" jdbcType="INTEGER" />
    <result column="item_id" property="item_id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="expense_classification_id" property="expense_classification_id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="REAL" />
    <result column="excute_department_id" property="excute_department_id" jdbcType="INTEGER" />
    <result column="creat_time" property="creat_time" jdbcType="VARCHAR" />
    <result column="collect_time" property="collect_time" jdbcType="VARCHAR" />
    <result column="return_time" property="return_time" jdbcType="VARCHAR" />
    <result column="create_user_id" property="create_user_id" jdbcType="INTEGER" />
    <result column="collect_user_id" property="collect_user_id" jdbcType="INTEGER" />
    <result column="return_user_id" property="return_user_id" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from outpatient_charges_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.neu.his.bean.OutpatientChargesRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into outpatient_charges_record (medical_record_id, bill_record_id, 
      item_id, `type`, expense_classification_id, 
      `status`, quantity, cost, 
      excute_department_id, creat_time, collect_time, 
      return_time, create_user_id, collect_user_id, 
      return_user_id)
    values (#{medical_record_id,jdbcType=INTEGER}, #{bill_record_id,jdbcType=INTEGER}, 
      #{item_id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{expense_classification_id,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{cost,jdbcType=REAL}, 
      #{excute_department_id,jdbcType=INTEGER}, #{creat_time,jdbcType=VARCHAR}, #{collect_time,jdbcType=VARCHAR}, 
      #{return_time,jdbcType=VARCHAR}, #{create_user_id,jdbcType=INTEGER}, #{collect_user_id,jdbcType=INTEGER}, 
      #{return_user_id,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.neu.his.bean.OutpatientChargesRecord" >
    update outpatient_charges_record
    set medical_record_id = #{medical_record_id,jdbcType=INTEGER},
      bill_record_id = #{bill_record_id,jdbcType=INTEGER},
      item_id = #{item_id,jdbcType=INTEGER},
      `type` = #{type,jdbcType=VARCHAR},
      expense_classification_id = #{expense_classification_id,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      cost = #{cost,jdbcType=REAL},
      excute_department_id = #{excute_department_id,jdbcType=INTEGER},
      creat_time = #{creat_time,jdbcType=VARCHAR},
      collect_time = #{collect_time,jdbcType=VARCHAR},
      return_time = #{return_time,jdbcType=VARCHAR},
      create_user_id = #{create_user_id,jdbcType=INTEGER},
      collect_user_id = #{collect_user_id,jdbcType=INTEGER},
      return_user_id = #{return_user_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, medical_record_id, bill_record_id, item_id, `type`, expense_classification_id, 
    `status`, quantity, cost, excute_department_id, creat_time, collect_time, return_time, 
    create_user_id, collect_user_id, return_user_id
    from outpatient_charges_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, medical_record_id, bill_record_id, item_id, `type`, expense_classification_id, 
    `status`, quantity, cost, excute_department_id, creat_time, collect_time, return_time, 
    create_user_id, collect_user_id, return_user_id
    from outpatient_charges_record
  </select>
</mapper>